# fly.toml app configuration file generated for cli-backend-registry on 2026-02-23T10:06:45+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#
# Registry is public at https://<app>.fly.dev (HTTPS). Use this URL for DOCKER_REGISTRY


app = 'cli-backend-registry'
primary_region = 'cdg'

[build]
  dockerfile = 'Dockerfile'

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']


[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
