# fly.toml app configuration file generated for cli-backend-registry on 2026-02-23T10:06:45+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'cli-backend-registry'
primary_region = 'cdg'

[build]
  dockerfile = 'Dockerfile'

[[mounts]]
  source = 'registry_data'
  destination = '/var/lib/registry'

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[services]]
  protocol = 'tcp'
  internal_port = 5000
  processes = ['app']

  [[services.ports]]
    port = 80
    handlers = ['http']
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [[services.http_checks]]
    interval = '10s'
    timeout = '2s'
    grace_period = '5s'
    method = 'GET'
    path = '/v2/'
    protocol = 'http'
    [services.http_checks.headers]
      Authorization = 'Basic bGFuZS1jb250YWluZXI6eW91QDM3JWJpdA=='

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
